<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <!--mybatis 和 Spring 整合后，
      这些配置都可以放在Spring applicationContext.xml中配置

      将mybatis主配置文件中的连接池、别名、驼峰等设置交给Spring
  -->

  <!--mybatis的配置-->
  <settings>
    <setting name="cacheEnabled" value="true" />
    <setting name="lazyLoadingEnabled" value="false"/>
    <!--<setting name="useGeneratedKeys" value="true"/>-->
  </settings>

  <typeAliases>
    <typeAlias type="com.wxw.domain.User" alias="User"/>
  </typeAliases>

  <!--配置数据连接信息  放在Spring applicationContext.xml中配置-->
  <!--
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/test_mybatis"/>
        <property name="username" value="root"/>
        <property name="password" value="ganquanzhong"/>
      </dataSource>
    </environment>
  </environments>
  -->

  <!--mapper文件-->
  <!--
  <mappers>
    <mapper resource="classpath:com/gqzdev/mybatis/spring/mapper/*.xml"/>
  </mappers>
  -->
</configuration>

